.eg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(87, 87, 87, 0.71);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eg-container {
    width: 1000px;
    background: #F5F5F5;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eg-gameover {
    animation: seesaw 3s infinite;
    animation-direction: alternate;
    color: $red;
}

.eg__rematch {
    background: none;
    border: 1px solid $red;
    color: $red;
    padding: 2px 4px;
    font-size: 1.8rem;
    &:hover {
        background-color: lighten($red, 10);
        color: #FFF;
    }
}

.eg__step {
    position: relative;
    display: inline-block;
    margin-left: 24px;
}

.eg__paths {
    width: 100%;
}

.eg__username {
    color: $blue;
    font-weight: 600;
}

.eg__step--not-final {
    position: relative;
    display: inline-block;
    margin-left: 24px;
}

.eg__step--not-final::after {
    content: url(/files/images/arrow.svg);
    height: 16px;
    width: 16px;
    position: fixed;
    margin: 0 4px;
}

@keyframes seesaw {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
