.footer {
	height: 100px;
    display: flex;
    align-items: center;
    border-top: $blue 1px solid;
    color: #FFF;
    justify-content: flex-end;
    padding: 16px;
}

.footer__fork {
	height: 24px;
	width: 24px;
	fill: $blue;
		&:hover {
			opacity: .7;
		}
}