.footer {
	height: 100px;
    display: flex;
    align-items: center;
    border-top: $blue 1px solid;
    color: $blue;
    justify-content: flex-end;
    padding: 16px;
}

.footer__fork {
	height: 24px;
	width: 24px;
	fill: $blue;
	margin-left: 32px;
		&:hover {
			opacity: .7;
		}
}

.footer a {
    text-decoration: none;
    color: $blue;
        &:hover {
            opacity: .7;
        }
}