.lb-header {
  display: flex;
  flex-direction: row-reverse;
  margin: 0.2em;
  h1 {
    margin: 1em auto;
  }
  background: $grey;
  margin: 0;
}

.lb-main {
  display: flex;
  flex-direction: column;
}




