.lobby__player {
    margin-top: 0;
}

input.cb-hack {
  display: none;
}

.checkbox-hack-content {
  display: none;
}
/* If input is checked via label, then show content. */
input.cb-hack:checked + .checkbox-hack-content {
  display: block;
}





