.lobby__button {
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 0.8em;
  cursor: pointer;
  color: #fff;
  background-color: $red;
  font-size: 1.5rem;
  font-weight: 100;
  border: 0.06em solid #fff;
  box-shadow: 0.125em 0.125em 0.3125em #AFE9FF;
  width: 100%;
  margin: 0.7em 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.lobby__button:hover {
  color: #fff;
  border: 0.06em solid $blue;
  box-shadow: 0.125em 0.125em 0.125em #AFE9FF;
}

.lobby__button--username {
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: $blue;
  font-weight: 100;
  border: 0.06em solid #fff;
  box-shadow: 0.125em 0.125em 0.3125em #AFE9FF;
  margin-left: 1em;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.lobby__button--username:hover {
  color: #fff;
  border: 0.06em solid $blue;
  box-shadow: 0.125em 0.125em 0.125em #AFE9FF;
}