.lobby__button {
  background: none;
  border: 1px solid $red;
  padding: 4px 8px;
  font-size: 2rem;
  color: $red;
  outline-style: none;
  transition: background 200ms;
  &:hover {
    color: #FFF;
    background-color: lighten($red, 10);
    cursor: pointer;
  }
}

.lobby__button--copy {
  background: none;
  border: 1px solid $red;
  padding: 4px 8px;
  font-size: 2rem;
  color: $red;
  outline-style: none;
    transition: 200ms;
  &:focus::after {
    background-color: $red;
    color: #FFF;
    content: 'copied!';
    position: fixed;
    padding: 5px 16px;
    margin: 5px 0 0 16px;
    border: none;
    font-size: 1rem;
    font-weight: 200;
    opacity: 0;
    animation-duration: 750ms;
    animation-name: fade-out;
    animation-iteration-count: 1;
  }
  &:hover {
    color: darken($red, 15);
    border-color: darken($red, 15);
    cursor: pointer;
  }
}

@keyframes fade-out {
  0% {
    opacity: .4;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
